<div id="header"></div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-lg-12 text-center">
            <h1 class="display-4 font-xxl">IGGCW conference 2012 Miskolc</h1>
            <h1 class="display-4 font-xxl">6. - 9. 07. 2012.</h1>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="text-justify font-md my-5">
                <p class="lead">
                    Жолт Лавица са Универзитета у Кембриџу одржаће предавања на Математичком факултету у петак, 11. априла у сали 706 са почетком
                    у 12h.
                </p>
                <p>
                    The aim of the conference is to bring together the GeoGebra Community in Hungary and bordering areas. They wish to provide
                    a forum to meet each other, and to give an opportunity for young researchers to present their results
                    in using, or developing GeoGebra and related teaching materials. There invited colleagues, teachers at
                    all three levels, students, graduate students and other researchers to take part in the meeting. During
                    the meeting there was planed to offer a Geogebra Workshop for teachers working at elementary, secondary
                    or terciary level, to be organized at beginner and advanced user level.The meeting was hosted by the
                    GeoGebra Institute of Miskolc, the University of Miskolc, Hungary, and cooperating partners. The programme
                    of the conference was on 6th, 7th and 8th July 2012.
                </p>
                <p>
                    We presented our works:
                    <ul>
                        <li>
                            Aleksandra Arsić - „Applets in teaching as a motivation and support to students“
                        </li>
                        <li>
                            Aleksandra Stevanović - „Significant points of the triangle constructed using the software GeoGebra“
                        </li>
                        <li>
                            Marija Radojičić - „Interactive course of secondary school mathematics by using GeoGebra“
                        </li>
                        <li>
                            Milena Isajlović - „GeoGebra in Mathematics Education, Elementary functions in high school“
                        </li>
                        <li>
                            Slavisa Radović - „Surface area of geometric figures, teaching materials created using the software package GeoGebra“
                        </li>
                    </ul>
                </p>
            </div>
            <br>
            <br>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid centered-image" src="assets/images/news/4/s1.jpg" alt="s1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid centered-image" src="assets/images/news/4/s2.jpg" alt="s2">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid centered-image" src="assets/images/news/4/s3.jpg" alt="s3">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid centered-image" src="assets/images/news/4/s4.jpg" alt="s4">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid centered-image" src="assets/images/news/4/s5.jpg" alt="s5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.carousel').carousel({
        interval: 3000
    })
</script>