<div id="header"></div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-lg-12 text-center">
            <h1 class="display-4 font-xxl">Предавање др Жолта Лавице, 11. април 2014.</h1>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="text-justify font-md my-5">
                <p class="lead">
                    Жолт Лавица са Универзитета у Кембриџу одржаће предавања на Математичком факултету у петак, 11. априла у сали 706 са почетком
                    у 12h.
                </p>
                <p class="lead">
                    Наслов предавања: Integrating Technology into K12 School Teaching to Enhance STEM Education in Hungary
                </p>
                <p> 
                    <a href="http://www.math.rs/files/zolt_lavica_042014.pdf">Садржај предавања</a>
                </p>
                <p>
                    Кратка биографија: 
                    <br>
                    Dr Zsolt Lavicza, Faculty of Education, University of Cambridge After receiving his degrees in mathematics
                    and physics in Hungary, Zsolt began his postgraduate studies in applied mathematics at the University
                    of Cambridge. While teaching mathematics at the University of Cincinnati he became interested in researching
                    issues in the teaching and learning mathematics. In particular, he focused on investigating issues in
                    relation to the use of technology in undergraduate mathematics education. Since then, both at the University
                    of Michigan and Cambridge, working with Deborah Ball, Hyman Bass, Paul Andrews, and Kenneth Ruthve, he
                    has worked on several research projects examining technology and mathematics teaching in a variety of
                    classroom environments. Currently, Zsolt is working as an Associate Lecturer in Mathematics Education
                    at the University of Cambridge. He is also co-ordinating the development of local GeoGebra Institutes
                    and offering research support within the International GeoGebra Institute. He serves as a Director of
                    Research at the GeoMaTech project as well as advising research projects at different countries.
                </p>
            </div>
        </div>
    </div>
</div>