<div id="header"></div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-lg-12 text-center">
            <h1 class="display-4 font-xxl">Предавање др Жолта Лавице, 11. април 2014.</h1>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="text-justify font-md my-5">
                <p class="lead">
                    Предавање др Жолта Лавице са Универзитета у Кембриџу, Математички факултет, 12. април 2012.
                </p>
                <p class="lead">
                    Др Жолт Лавица са Универзитета у Кембриџу одржаће предавање на Математичком факултету 12. априла 2013 са почетком у 16 h
                    (сала ће бити накнадно објављена).
                </p>
                <p class="lead">
                    Наслов предавања: "Enhancing mathematics teaching and learning through a community-developed software: GeoGebra"
                </p>
                <p>
                    Садржај:
                    <br> GeoGebra (http://geogebra.org), a free, open-source, dynamic mathematics software, is rapidly gaining
                    popularity in the teaching and learning of mathematics around the world. Currently, GeoGebra is used
                    by approximately 20 million students and teachers, translated to 62 languages, used in 190 countries,
                    and downloaded by approximately 500,000 users in each month,and clearly making an impact on mathematics
                    education in most countries. This increased use compelled the establishment of the International GeoGebra
                    Institute (IGI) that serves as a virtual organization to support local GeoGebra initiatives and institutes.
                    There are already 143 institutes in 85 countries, which pursue training and support of teachers, develop
                    teaching materials, and carry out research projects. In my talk, I will review examples of applications
                    of GeoGebra at different levels of education from around the world. The capabilities of GeoGebra are
                    now extended to other subject areas such as physics, chemistry, engineering etc. and will show some examples
                    of development in these areas. In addition, I will outline our plans to work together with different
                    countries to enhance mathematics and STEM (Science, Technolgy, Engineering, Mathematics) in their educational
                    systems. Кратка биографија предавача:
                </p>
                <p class="lead">
                    Dr Zsolt Lavicza, Faculty of Education, University of Cambridge
                </p>
                <p>
                    After receiving his degrees in mathematics and physics in Hungary, Zsolt began his postgraduate studies in applied mathematics.
                    While teaching several mathematics courses at the University of Cincinnati he became interested in researching
                    issues in the teaching and learning mathematics. In particular, he focused on investigating issues in
                    relation to the use of technology in undergraduate mathematics education. Since then both at the University
                    of Michigan and Cambridge, he has worked on several research projects examining technology and mathematics
                    teaching in a variety of classroom environments. Currently, Zsolt is working as an Associate Lecturer
                    in Mathematics Education at the University of Cambridge as well as he is coordinating the development
                    of local GeoGebra Institutes and offering research support within the International GeoGebra Institute.
                </p>
                <br>
                <br>
                <img src="assets/images/news/3/1.jpg" alt="slika.jpg" class="centered-image img-fluid">
            </div>
        </div>
    </div>
</div>