<div id="header"></div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-lg-12 text-center">
            <h1 class="display-4 font-xxl">Mathematics Education Research Course</h1>
            <h1 class="display-4 font-xxl">Novembar 2013.</h1>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="text-justify font-md my-5">
                <p>
                    Na poziv Dr Žolta Lavice, profesora sa Univerziteta u Kembridžu i predsednika za istraživačka pitanja u GeoGebra zajednici,
                    članovi GeoGebra Centra Beograd su prisustovovali međunarodnoj radionici „Mathematics Education Research
                    Course“. Radionica je održana na Johannes Kepler Univerzitetu u okviru aktivnosti Istraživačkog i Razvojnog
                    GeoGebra Centra u Lincu, Austrija. Tokom predavanja i izlaganja nacionalnih projekata GeoGebra centara
                    iz Srbije, Finske, Austrije i Češke diskusiji se priključio i profesor Markus Hohenwarter.
                    <br>
                    <br>
                    <a href="http://www.educ.cam.ac.uk/people/staff/lavicza/">http://www.educ.cam.ac.uk/people/staff/lavicza/</a>
                    <br>
                    <a href="http://www.geogebra.org/cms/en/team ">http://www.geogebra.org/cms/en/team </a>
                    <br>
                    <br>
                    <img src="assets/images/news/2/1.jpg" alt="slika.jpg" class="centered-image img-fluid">
                </p>
            </div>
        </div>
    </div>
</div>