$light-color: #f7f7f7;
$dark-color: #505050;
$light-gray-color: #b0b0b0;
$dark-gray-color: #606060;
$main-color: #9999ff;
$main-color-dark: #7d7dd3;

$warning-color: #f8d612;
$success-color: #3cbe63;
$error-color: #fa1133;