<footer>
    <div id="footer-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <img src="assets/images/logo-belgrade-light-transparent.png" alt="logo-light" class="img-fluid" width="600">
                </div>
            </div>
        </div>
    </div>
    <div id="footer-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 offset-lg-2">
                    Korisni linkovi:
                    <ul id="footer-links">
                        <li><a href="https://www.geogebra.org/cms/" class="light-link">GeoGebra</a></li>
                        <li><a href="https://moodle.org/" class="light-link">Moodle</a></li>
                        <li><a href="http://www.matf.bg.ac.rs/" class="light-link">Matematički fakultet</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul id="footer-links">
                        <li><a href="#" class="light-link footer-link" data-state="home">Početna</a></li>
                        <li><a href="#" class="light-link footer-link" data-state="activities">Aktivnosti</a></li>
                        <li><a href="#" class="light-link footer-link" data-state="members">Članovi</a></li>
                        <li><a href="#" class="light-link footer-link" data-state="materials">Materijali</a></li>
                        <li><a href="#" class="light-link footer-link" data-state="contact">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    Kontakt
                    <br>
                    Rukovodilac GeoGebra Centra Beograd
                    <div id="footer-contact">
                        dr Miroslav Marić
                        <br> Matematički fakultet, Univerzitet u Beogradu
                        <br> Studentski trg, 11000 Beograd
                        <br><a href="mailto:maricm@matf.bg.ac.rs" class="light-link"><i class="fa fa-envelope" aria-hidden="true"></i> maricm@matf.bg.ac.rs</a>
                    </div>
                </div>
                <div class="col-lg-12 text-center mt-5">
                    <a href="https://www.facebook.com/GeoGebraCentarBeograd" class="light-link"><i class="fa fa-facebook-official" aria-hidden="true"></i> GeoGebra Centar Beograd</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        &copy; Matematički fakultet, Univerzitet u Beogradu, <span id="footer-year"></span>
    </div>

</footer>