<header>
    <div id="scene-wrapper">
        <div id="scene">
            <div class="layer" data-depth="0.20" id="layer1"></div>
            <div class="layer" data-depth="0.40" id="layer2"></div>
            <div class="layer" data-depth="0.80" id="layer10">
                <img src="assets/images/geogebra-logo.png" class="img-fluid" width="200">
                <br>
                <img src="assets/images/logo-belgrade-transparent.png" class="img-fluid" width="700">                
            </div>
        </div>
    </div>
</header>