<div class="row my-5">
    <div class="col-lg-12 text-center">
        <h1 class="display-4">Materijali</h1>
    </div>
    <div class="col-lg-8 offset-lg-2">
        <div class="text-justify font-md my-3">
            <p class="lead font-md">
                Savremeni nastavni materijali, primeri interaktivnih GeoGebra apleta, uputstva za izradu dinamičkih veb strana koje možemo
                koristiti u nastavi matematike u svim razredima osnovne i srednje škole. Saveti i ideje o organizovanju inovativnih
                i multimedijalnih časova.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 offset-lg-2">
        <div class="text-justify font-md my-5">
            <div class="col-lg-12 text-center">
                <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml09185/">Analitička geometrija u ravni</a></h1>
                <p class="lead font-md">
                    Interaktivni nastavni materijal za treći razred srednje škole
                </p>
            </div>
            <div class="text-justify font-md my-3">
                <p>
                    Analitička geometrija je deo matematike koja izučava svojstva geometrijskih objekata (krivih, površi, ...) metodom koordinata.
                    Ovom metodom nekom skupu tačaka u ravni ili prostoru dodeljujemo izvesnu jednačinu, koja karakteriše
                    takav skup tačaka. Razmatraju se i rešavaju i obrnuti slučajevi: ako je data jednačina koja sadrži koordinate
                    nekih tačaka, potrebno je odrediti krivu (površi i slično) koja odgovara datoj jednačini.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="text-justify font-md my-5">
            <div class="col-lg-12 text-center">
                <h1 class="display-4 font-xxl"><a href="http://www.alas.matf.bg.ac.rs/~ml08055/master/">Teorija verovatnoće</a></h1>
                <p class="lead font-md">
                    Interaktivni nastavni materijal
                </p>
            </div>
            <div class="text-justify font-md my-3">
                <p>
                    U ovom radu je predstavljena teorija verovatnoće za srednju školu. Prikazane nastavne teme su podeljene u šest poglavlja:
                    elementarna kombinatorika, diskretni prostor verovatnoća, uslovna verovatnoća i nezavisnost, geometrijska
                    verovatnoća, slučajne veličine i raspodele.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 offset-lg-2">
        <div class="text-justify font-md my-5">
            <div class="col-lg-12 text-center">
                <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml08065/master/index.html">O integralima</a></h1>
                <p class="lead font-md">
                    Interaktivni nastavni materijal
                </p>
            </div>
            <div class="text-justify font-md my-3">
                <p>
                    U ovom radu je prikazan rad sa integralima, počev od osnovnih definicija i teorema vezanih za neodređeni integral, preko
                    određenog integrala i naposletku, primene određenog integrala u geometriji i u naukama.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="text-justify font-md my-5">
            <div class="col-lg-12 text-center">
                <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml06125/">Površina geometrijskih figura</a></h1>
                <p class="lead font-md">
                    Interaktivan nastavni materijal
                </p>
            </div>
            <div class="text-justify font-md my-3">
                <p>
                    Površina figura u ravni jedan je od najpoznatijih matematičkih pojmova. Učenici vrlo uspešno računaju površine različitih
                    likova primenom poznatih formula. Ali šta je to površina? Na ovo pitanje malo koji bi učenik znao odgovoriti,
                    a ono često zbunjuje i studente matematike picture Pojam površine figure objašnjen kroz sve razrede osnovne
                    i srednje škole.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center">
        <h1 class="display-4 font-xxl"><a data-state="materials" href="#" id="all-materials">Svi materijali >></a></h1>
    </div>
</div>