<div class="row my-5">
    <div class="col-lg-12 text-center">
        <h1 class="display-4">Materijali</h1>
    </div>
    <div class="col-lg-8 offset-lg-2">
        <div class="text-justify font-md my-3">
            <p class="lead">
                Savremeni nastavni materijali, primeri interaktivnih GeoGebra apleta, uputstva za izradu dinamičkih veb strana koje možemo
                koristiti u nastavi matematike u svim razredima osnovne i srednje škole. Saveti i ideje o organizovanju inovativnih
                i multimedijalnih časova.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="row">
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/15.png" alt="slika.png" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml09185/">Analitička geometrija u ravni</a></h1>
                        <p class="lead font-md">
                            Interaktivni nastavni materijal za treći razred srednje škole
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Analitička geometrija je deo matematike koja izučava svojstva geometrijskih objekata (krivih, površi, ...) metodom koordinata.
                            Ovom metodom nekom skupu tačaka u ravni ili prostoru dodeljujemo izvesnu jednačinu, koja karakteriše
                            takav skup tačaka. Razmatraju se i rešavaju i obrnuti slučajevi: ako je data jednačina koja sadrži
                            koordinate nekih tačaka, potrebno je odrediti krivu (površi i slično) koja odgovara datoj jednačini.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/1.png" alt="slika.png" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://www.alas.matf.bg.ac.rs/~ml08055/master/">Teorija verovatnoće</a></h1>
                        <p class="lead font-md">
                            Interaktivni nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            U ovom radu je predstavljena teorija verovatnoće za srednju školu. Prikazane nastavne teme su podeljene u šest poglavlja:
                            elementarna kombinatorika, diskretni prostor verovatnoća, uslovna verovatnoća i nezavisnost,
                            geometrijska verovatnoća, slučajne veličine i raspodele. Materijal sadrži teorijski deo i deo
                            u kome je obrađen određeni broj zadataka. Oba dela su propraćena animacijama koje su kreirane
                            u programskom paketu GeoGebra u cilju interaktivnog predstavljanja nastavne teme. Svrha ovog
                            rada je da ukaže na mogućnost češćeg korišćenja interaktivnih materijala u redovnoj nastavi matematike
                            i da se istakne korisnost povezivanja obrazovanog procesa sa informacionim tehnologijama.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/2.png" alt="slika.png" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml08065/master/index.html">O integralima</a></h1>
                        <p class="lead font-md">
                            Interaktivni nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            U ovom radu je prikazan rad sa integralima, počev od osnovnih definicija i teorema vezanih za neodređeni integral, preko
                            određenog integrala i naposletku, primene određenog integrala u geometriji i u naukama. Cilj
                            rada je prikazivanje kalkulusnog računa, odnosno, rada sa integralima na interaktivan način,
                            pomoću apleta koji su kreirani u programskom paketu GeoGebra, što bi trebalo da olakša razumevanje
                            i učenje gradiva iz ove oblasti. Teoreme, dokazi i primeri prikazani u ovom radu su vizuelizovani
                            korišćenjem GeoGebre i ugrađeni u veb stranicu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/3.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml06125/">Površina geometrijskih figura</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Površina figura u ravni jedan je od najpoznatijih matematičkih pojmova. Učenici vrlo uspešno računaju površine različitih
                            likova primenom poznatih formula. Ali šta je to površina? Na ovo pitanje malo koji bi učenik
                            znao odgovoriti, a ono često zbunjuje i studente matematike picture Pojam površine figure objašnjen
                            kroz sve razrede osnovne i srednje škole. Interaktivni GeoGebra apleti i dinamički tekst povećavaju
                            zainteresovanost učenika za gradivo i omogućavaju učenje putem istrživanja. Svi nastavni materijali
                            su podeljeni po razredima u kojima se izučava pojam površine geometrijskih figura. A u okviru
                            svakog razreda materijali su podeljeni u četiri grupe koje se uzajamno dopunjuju.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/4.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml06095/master/">Izvod funkcije</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Predstavljeni interaktivni materijal bazirani su na udžbeniku "Analiza sa algebrom" za treći razred Matematičke gimnazije.
                            picture Interaktivni matematički sadržaj: Rad sadrži interaktivne matematičke sadržaje. Sadržaj
                            se odnosi na pojam izvoda. Materijal je izrađen programom Geogebra. Istraživačko pitanje: Osnovno
                            istraživačko pitanje kojim se ovaj rad bavi odnosi se na zastupljenost računara u nastavi u osnovno
                            školskom obrazovanju.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/5.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml08150/master/">Vizuelni prikaz Poenkareovog disk modela ravni</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Materijal sadrži vizuelni prikaz Poenkareovog disk modela ravni. Dat je vizuelni prikaz osnovnih pojmova i relacija, kao
                            i svih aksioma hiperboličke geometrije ravni. Takođe, prikazane su i neke teoreme i rešenja nekih
                            zadataka. Za vizuelizaciju je korišćen programski paket GeoGebra. Materijal je pre svega namenjen
                            onima koji uče i onima koji predaju hiperboličku geometriju. Može se koristiti i u srednjoškolskom
                            obrazovanju za rad sa naprednijim učenicima (dodatnu nastavu matematike).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/6.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml08047/master/">Elektronske lekcije o diferencijalnim jednačinama</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Predstavljena je matematička oblast diferencijalnih jednačina primenom programskog paketa GeoGebra, kao interaktivni sadržaj
                            za elektronsko učenje. Cilj ovog rada je da prikaze jedan novi pristup teoriji diferencijalnih
                            jednačina, uz teorijske sadržaje i detaljno urađene primere sa grafičkim prikazom rešenja u GeoGebri.
                            Rad obuhvata sledeće oblasti: osnovni pojmovi o diferencijalnim jednačinama, diferencijalne jednačine
                            I reda, diferencijalne jednačine višeg reda, rešavanje diferencijalnih jednačina pomoću redova,
                            Laplasove transformacije i primena običnih diferencijalnih jednačina.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/7.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml06057/">Interaktivni kurs Više matematike</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            U ovom rаdu se nаvode konkretni predlozi zа unаpređenje nаstаve mаtemаtike. Predstаvljene su matematičke oblаsti iz knjige
                            Elementi više mаtemаtike, picture korišćenjem progrаmskog pаketа Geogebra, kаo interаktivni sаdržаj
                            zа elektronsko učenje. Oblasti koje su prikazane u ovom radu su: kompleksni brojevi, polinomi,
                            matrice, vektorska algebra i deo analitičke geometrije. Ovakav sadržaj predstavlja motivaciju
                            za studente u usvajanju matematičkog sadržaja.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/8.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml08060/">Diferencijalni račun</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Razmatra se vizuelizacija diferencijalnog računa pomoću programskog paketa GeoGebra. Jedan od ciljeva ovog rada je popularizacija
                            matematičkih koncepata. U radu koji uključuje sledeće teme: funkcije jedne realne promenljive,
                            nizovi, granična vrednost funkcije, neprekidnost funkcije, izvodi i primena izvoda se skiciraju
                            veze između teorije, zadataka i primene matematike.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/9.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://alas.matf.bg.ac.rs/~ml06068/">Elementarne funkcije</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Izučavanje elementarnih funkcija pomoću programskog paketa "Geogebra". Funkcije, uvođenje pojma funkcije, svojstva, operacije
                            s funkcijama, zadavanje funkcija. picture Pojam funkcije je veoma važan u nastavi matematike
                            zbog njegovog značaja za matematiku i njenu primenu. Funkcijsko razmišljanje daje posebnu dimenziju
                            matematičkom obrazovanju, omogućava bolje razumevanje i efikasnije postupke u drugim nastavnim
                            sadržajima, bolje priprema učenika za buduća matematička znanja i primene matematike. Pomoću
                            funkcija matematičari objašnjavaju pojave iz prirode i događanja iz svakodnevnog života.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/10.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://www.geogebra.matf.bg.ac.rs/materijali/Inverzija/Naslovna%20strana.html">Inverzija</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Inverzija u odnosu na krug je grubo govoreci uopštenje osne refleksije. Pored osnovnih definicija, rad obuhvata i sledece
                            osnovne teme: inverzija i tacka, inverzija i prava, inverzija i krug. Interaktivni GeoGebra apleti
                            dobro ilustruju kako inverzija preslikava tacku, pravu i krug. U radu je takode predstavljena
                            analiticka forma inverzije, što olakšava dokazivanje još nekoliko njenih osobina.Specijalno,
                            jedno od poglavlja je posveceno cuvenim Apolonijevim problemima o dodiru krugova. Na kraju rada
                            su navedeni još neki primeri primene inverzije (Štajnerov lanac, inverzija konacne pravougaone
                            rešetke, Fojerbahove tacke).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/11.png" alt="slika.png" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://www.alas.matf.bg.ac.rs/~mm97045/2m/trigonometrija/">Materijali za srednju školu</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Interaktivne nastavne lekcije u kojima se obrađuje tema: Kvadratna jednačina i kvadratna funkcija link Interaktivne nastavne
                            lekcije u kojima se obrađuje tema: Trigonomerija
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/12.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://www.geogebra.matf.bg.ac.rs/geogebrice/index.html">Geogebrice</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/13.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://www.geogebra.matf.bg.ac.rs/populacija/index.html">Populacija stanovništva u nastavi matematike</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Proučavanje promene populacije je generalno veoma zahtevno pitanje jer uključuje mnoge aspekte života, od demografije, religije,
                            politike do ekonomije, kulture, ishrane, zdravlja. Zbog toga je istovremeno i interesantno uvesti
                            ovo pitanje u nastavni proces. picture Pitanje populacije se u našim školama proučava u okviru
                            geografije, biologije, istorije, ali ne i matematike. Ovaj rad predstavlja metodički prikaz kako
                            se osobine funkicja mogu obraditi pomoću GeoGebra-e i situacija iz realnog konteksta. Dat je
                            i konkretan primer koji se odnosi na predstavljanje populacije gradova u Srbiji u metematičkom
                            kontekstu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <img src="assets/images/materials/all_materials/14.jpg" alt="slika.jpg" class="material-image">
                        <h1 class="display-4 font-xxl"><a href="http://www.geogebra.matf.bg.ac.rs/mm.html">Jednačine elementarnih kretanja</a></h1>
                        <p class="lead font-md">
                            Interaktivan nastavni materijal
                        </p>
                    </div>
                    <div class="text-justify font-md my-3">
                        <p>
                            Razmatrane primene matematike na elementarna kretanja. picture Jedan od ciljeva predavanja je popularizacija nauke. U okviru
                            predavanja uključene su sledeće teme: oscilacija, rotaciono kretanje, Lorencove transformacije.
                            Skiciramo veze između mehanike, fizike i matematike.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>