<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigationLinks" aria-controls="navigationLinks"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="">
        <img src="assets/images/geogebra-logo-name.png" height="30" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navigationLinks">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" data-state="home" href="#">Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" data-state="activities" href="#">Aktivnosti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" data-state="members"href="#">Članovi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" data-state="materials" href="#">Materijali</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" data-state="contact" href="#">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>