<div class="row my-5">
    <div class="col-lg-8 offset-lg-2">
        <div class="col-lg-12 text-center">
            <h1 class="display-4">Projekti</h1>
        </div>
        <div class="row row-centered my-5">
            <div class="col-lg-4 col-centered">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <h1 class="display-4 font-xxl"><a href="http://www.ezbirka.math.rs/">eZbirka</a></h1>
                        <br>
                        <img src="assets/images/materials/ez.png" alt="ez" class="materials-logo img-fluid">
                    </div>
                    <div class="text-justify font-md my-5">
                        <p>
                            Platforma eZbirka sadrži zadatke iz matematike za učenike starijih razreda osnovne škole. Svi zadaci, su grupisani po razredima,
                            oblastima i nastavnim jedinicama, i smešteni su u bazu podataka u odgovarajuće grupe. Platforma
                            je kreirana tako da pruža mogućnost da nastavnici na jednostavan način mogu i sami da kreiraju
                            pitanja i zadatke, te je osim nastavnika matematike, mogu koristiti i nastavnici na drugim predmetima.
                            Na taj način se grupa potencijalnih korisnika projekta proširuje na sve nastavnike i učenike
                            koji su uključeni u obrazovni proces.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-centered">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <h1 class="display-4 font-xxl"><a href="http://www.zavrsniispit.math.rs/">Završni ispit</a></h1>
                        <br>
                        <img src="assets/images/materials/zi.png" alt="zi" class="materials-logo img-fluid">
                    </div>
                    <div class="text-justify font-md my-5">
                        <p>
                            Platforma Završni ispit sadrži zadatke iz matematike i srpskog jezika namenjene učenicima koji se spremaju za polaganje završnog
                            ispita. Zadaci su grupisani po oblastima i nivoima i smešteni su u bazu podataka. Učenici imaju
                            mogućnost da ispituju svoje znanje radeći samostalne probne testove završnog ispita, kao i da
                            vežbaju zadatke iz određene oblasti i sa određenog nivoa. Posebno prilagođeni zadaci pružaju
                            mogućnost učenicima obuhvaćenim inkluzijom da koriste IKT i unaprede svoje znanje. Platforma
                            bi trebalo da utiče na to da učenici savladaju prepreke koje ih sprečavaju da ostvare samostalnost
                            i kontinuitet u radu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-centered">
                <div class="text-justify font-md my-5">
                    <div class="col-lg-12 text-center">
                        <h1 class="display-4 font-xxl"><a href="http://www.prijemniispit.math.rs/">Prijemni ispit</a></h1>
                        <br>
                        <img src="assets/images/materials/pi.png" alt="pi" class="materials-logo img-fluid">
                    </div>
                    <div class="text-justify font-md my-5">
                        <p>
                            Platforma sadrži zadatke iz matematike i srpskog jezika namenjene učenicima koji se spremaju za polaganje prijemnog ispita.
                            Zadaci su grupisani po oblastima i nivoima i smešteni su u bazu podataka. Učenici imaju mogućnost
                            da ispituju svoje znanje radeći samostalne probne testove prijemnog ispita, kao i da vežbaju
                            zadatke iz određene oblasti i sa određenog nivoa. Posebno prilagođeni zadaci pružaju mogućnost
                            učenicima obuhvaćenim inkluzijom da koriste IKT i unaprede svoje znanje. Platforma bi trebalo
                            da utiče na to da učenici savladaju prepreke koje ih sprečavaju da ostvare samostalnost i kontinuitet
                            u radu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>