<div id="small-header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="display-4">Kontakt</h1>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="text-justify font-md my-5">
                <p class="lead">
                    GeoGebra Centar Beograd osnovan je pri Matematičkom fakultetu, Univerziteta u Beogradu, koji zajedno sa International Geogebra
                    Institute ima sledeće ciljeve:
                </p>
            </div>
            <div class="text-justify font-md my-5">
                <ul>
                    <li>
                        Obuka i podrška sadašnjih i budućih nastavnika matematike u profesionalnom razvoju.
                    </li>
                    <li>
                        Razvoj obrazovnog softvera korišćenjem GeoGebre koji je namenjen svim nastavnicima i koji je javno dostupan.
                    </li>
                    <li>
                        Istraživanja vezana za upotrebu GeoGebre u nastavnom procesu.
                    </li>
                    <li>
                        Saradnja sa svim GeoGebra institutima u zemlji i inostranstvu u cilju razmene ideja, materijala i iskustava.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <p class="lead">
                Rukovodilac GeoGebra Centra Beograd
            </p>
            <div>
                dr Miroslav Marić
                <br> Matematički fakultet, Univerzitet u Beogradu
                <br> Studentski trg, 11000 Beograd
                <br><a href="mailto:maricm@matf.bg.ac.rs" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> maricm@matf.bg.ac.rs</a>
            </div>
        </div>
    </div>
</div>