<div class="container-fluid courses-wrapper p-0">
    <div class="courses-menu" id="courses-menu">

    </div>
    <div class="courses-content">
        <div id="course-text" class="text-justify">
            <div class="col-lg-12 text-center">
                <h1 class="display-4">Kursevi</h1>
            </div>
            <div class="col-lg-8 offset-lg-2">
                <div class="text-justify font-md my-3">
                    <p class="lead">
                        
                    </p>
                </div>
            </div>
        </div>
        <div id="course-footer"></div>
    </div>

</div>