<div id="header"></div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-lg-8 offset-lg-2">
            <div class="text-center font-md">
                <h1 class="display-4 font-xl line-md">
                    Podržavamo primenu i proučavamo uticaj primene interaktivnih nastavnih sadražaja izrađenih primenom paketa GeoGebra u procesu
                    nastave matematike.
                </h1>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-8 offset-lg-2">
            <div class="row row-centered my-5">
                <div class="col-lg-4 col-centered">
                    <div class="col-lg-12 text-center">
                        <h1 class="display-4"><i class="fa fa-book" aria-hidden="true"></i></h1>
                        <h1 class="display-4">Uputstvo</h1>
                    </div>
                    <div class="text-center font-md my-5">
                        <h1 class="display-4"><i class="fa fa-file-pdf-o" aria-hidden="true" id="manual" onclick="window.open('http://www.geogebra.matf.bg.ac.rs/uputstvoGGB.pdf')"></i></h1>
                        <h1 class="display-4 font-md line-md">
                            Zvanično GeoGebra uputstvo na Srpskom jeziku.
                        </h1>
                    </div>
                </div>
                <div class="col-lg-4 col-centered">
                    <div class="col-lg-12 text-center">
                        <h1 class="display-4"><i class="fa fa-globe" aria-hidden="true"></i></h1>
                        <h1 class="display-4">Linkovi</h1>
                    </div>
                    <div class="text-center font-md my-5">
                        <ul class="sample-list">
                            <li>
                                <a href="https://www.geogebra.org/cms/">GeoGebra</a>
                                <p class="lead font-md">Preuzimanje softvera GeoGebra.</p>
                            </li>
                            <li>
                                <a href="https://moodle.org/">Moodle</a>
                                <p class="lead font-md">Zvanični sajt programskog paketa Moodle.</p>
                            </li>
                            <li>
                                <a href="http://www.matf.bg.ac.rs/">Matematički fakultet</a>
                                <p class="lead font-md">Sajt Matematičkog fakulteta u Beogradu.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-centered">
                    <div class="col-lg-12 text-center">
                        <h1 class="display-4"><i class="fa fa-newspaper-o" aria-hidden="true"></i></h1>
                        <h1 class="display-4">Novosti</h1>
                    </div>
                    <div class="text-center font-md my-5">
                        <ul class="sample-list">
                            <li>
                                <a href="http://ezbirka.math.rs/?action=news" class="news-link">Aktuelnosti vezane za Obrazovni softver</a>
                            </li>
                            <li>
                                <a href="#" class="news-link" data-state="news" data-state-params="news1">Predavanje dr Žolta Lavice 2014</a>
                            </li>
                            <li>
                                <a href="#" class="news-link" data-state="news" data-state-params="news2">MathEdu Research Course in Linz</a>
                            </li>
                            <li>
                                <a href="#" class="news-link" data-state="news" data-state-params="news3">Predavanje dr Žolta Lavice 2013</a>
                            </li>
                            <li>
                                <a href="#" class="news-link" data-state="news" data-state-params="news4">IGGCW conference 2012 Miskolc</a>
                            </li>
                            <li>
                                <a href="#" class="news-link" data-state="news" data-state-params="news5">CADGME conference 2012 Novi Sad</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home-projects"></div>
    <div id="home-materials"></div>
</div>