<div id="small-header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="display-4">Objavljeni i prezentovani radovi</h1>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="text-justify font-md my-5">
                <ul>
                    <li>
                        Pećanac R., Lambić D., Marić M., The influence of the use of educational software on the effectiveness of communication models
                        in teaching. The New Educational Review, Vol. 26, No. 4. pp 60-70, 2011.
                    </li>
                    <li>
                        Takači Đ., Marić M., Stankov G., Djenić A., Efficiency of using VNS algorithm for forming heterogeneous groups for CSCL learning,
                        Computers & Education, Volume 109, pp. 98-108, 2017.
                    </li>
                    <li>
                        Radović S., Stevanović A., Radojičić M., Marić M., Programski paket geogebra kao interaktivni alat za izučavanje površine
                        geometrijskih figura, Inovacije u nastavi, Vol. 26, Facs. 3, pp. 135-145, 2013.
                    </li>
                    <li>
                        Marić M., Marić M., Radović S., Izrada i primena didaktičkog materijala primenom programskog paketa GeoGebra, Zbornik radova
                        sa naučnog skupa „Tradicija i nauka“, Univerzitet u Istočnom Sarajevu, Filozofski fakultet, Pale,
                        2012, knjiga 7, tom 3, str. 177-186, ISBN 978-99938-47-50-2.
                    </li>
                    <li>
                        Marić M., Marić M., Izrada hipertekstualno, interaktivnog nastavnog materijala napravljenog korišćenjem paketa GeoGebra, Naučno stručni skup Informatika 2011, "Novi trendovi u razvoju informacionih sistema" ISBN 978-86-904491-7-0, COBISS.SR-ID 183568140 pp. 31-36, 2011.
                    </li>
                    <li>
                        Radojičić M., Arsić A., Radović S., Marić M., GeoGebra- alat za modelovanje i dinamičke konstrukcije, Zbornik radova - Simpozijum Matematika i primene, 28. -29. maj 2011, str. 7-17, ISBN 978-86-7589-084-3.
                    </li>
                    <li>
                        Marić M., Marić M., Radaković K., Razvoj i primena interaktivnog obrazovnog softvera iz matematike za decu predškolskog uzrasta, Tehnika i informatika u obrazovanju, Čačak 2012, str. 388-394, ISBN 978-86-7776-138-7, COBISS.SR-ID 191226636.
                    </li>
                    <li>
                        Radović S., Marić M., Golubović Lj., Mogućnosti upotrebe IKT-a i platforme eZbirka u nastavnim aktivnostima, 3. internacionalna konferencija Metodički aspekti nastave matematike, Fakultet pedagoških nauka, Jagodina, 14-15. jun 2014.
                    </li>
                    <li>
                        Radović S., Jezdimirović J., Marić M., Interaktivna zbirka zadataka iz matematike za više razrede osnovne škole – eZbirka, 5. konferencija sa međunarodnim učešćem Tehnika i Informatika u Obrazovanju, Fakultet Tehničkih Nauka, Čačak,  30-31. maj 2014, pp. 371–376, ISBN 978-86-7776-164-6, COBISS.SR-ID 208371468.
                    </li>
                    <li>
                        Radojičić M., Radović S., Marić M., Inovativni pristup nastavi matematike primenom elektronskih materijala za učenje, 5. konferencija sa međunarodnim učešćem Tehnika i Informatika u Obrazovanju, Fakultet Tehničkih Nauka, Čačak,  30-31. maj 2014, pp. 365-370, ISBN 978-86-7776-164-6, COBISS.SR-ID 208371468.
                    </li>
                    <li>
                        Radović S., Marić M., Uloga domaćih zadataka u obrazovanju, Zbornik radova - IV Simpozijum Matematika i primene, Matematički fakultet, Beograd, pp. 86-91, 2014, ISBN 978-86-7589-089-8, COBISS.SR-ID 210010636.
                    </li>
                    <li>
                        Radojičić M., Radović S., Slađana J., Marić M., Praćenje napretka učenika primenom elektronskih testova za završni ispit, Zbornik radova - IV Simpozijum Matematika i primene, Matematički fakultet, Beograd, pp. 92-98, 2014, ISBN 978-86-7589-089-8, COBISS.SR-ID 210010636.
                    </li>
                    <li>
                        Marić M., Platforma eZbirka, naučno-stručni skup „Informatika 2014 - Novi trendovi u razvoju informacionih sistema“, pp. 24-28, 2014, ISBN 978-86-916853-1-7, COBISS.SR-ID 207160588.
                    </li>
                    <li>
                        Jezdimirović J., Radović S., Marić M., GeoGebrom kroz svet matematike, Zbornik radova - V Simpozijum Matematika i primene, Matematički fakultet, Beograd, pp. 113-118, 2015, ISBN 978-86-7589-104-8, COBISS.SR-ID 218232076.
                    </li>
                    <li>
                        Radović S.,  Marić M., Surface area of geometric figures using GeoGebra software, Computer Algebra and Dynamic Geometry System in Mathematics Education, Novi Sad, 22 - 24. jun 2012.
                    </li>
                    <li>
                        Radojičić M., Radović S., Džamić D., Marić M., The influence of technology in inclusive learning: Platform "Završni ispit", VI International Conference of  Teaching and Learning mathematics, Novi Sad, January 23-25, 2015.
                    </li>
                    <li>
                        Marić M., Kovačević I., Završni ispit – platforma za ravnopravno uključenje učenika u obrazovni proces, Nove tehnologije u obrazovanju, Beograd, 27. i 28. februar, 2015. http://www.britishcouncil.rs/new-technologies/conference-lecturers-2015?page=2
                    </li>
                    <li>
                        Andrić V., Marić M., Marić M., GeoGebra u nastavi matematike - mogućnosti i primene, Simpozijum Matematika i primene, 28. maj 2011. Matematički fakultet, Beograd
                    </li>
                    <li>
                        Marić M., Marić M., Kako jednostavno napraviti elektronsku lekciju iz matematike?, Zimski republički seminar, Kragujevac 14 - 15. Januar, 2012.
                    </li>
                    <li>
                        Takači Đ., Marić M., Stankov G., Đenić A., Kooperativno učenje (u grupama) – grafici funkcija, Simpozijum matematika i primene, Matematički fakultet, Beograd, 25. maj 2013.
                    </li>
                    <li>
                        Marić M., Radojičić M., Radović S., Lipkovski A., Unapređenje nastave matematike korišćenjem platforme „eZbirka“, 13. Srpski matematički kongres, Vrnjačka Banja, 22.-25. maj, 2014.
                    </li>
                    <li>
                        Kovačević I., Džamić D., Radović S., Marić M., Informaciono-komunikacione tehnologije i obrazovanje učenika sa razvojnim smetnjama, VI Simpozijum Matematika i primene, Matematički fakultet, Beograd, 17. oktobar 2015.
                    </li>
                    <li>
                        Jurić N., Marić M., eŠkola veba, VII Simpozijum Matematika i primene, Matematički fakultet, Beograd, 5. novembar 2016.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>