<div id="small-header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="display-4">Članovi</h1>
            <br>
            <h1 class="display-4 font-xxl">Osnivači GeoGebra Centra u Beogradu</h1>
        </div>
        <div class="col-lg-6 offset-lg-3">
            <div class="text-left font-md my-5" style="position: relative; margin: 0 auto">
                <ul class="sample-list">
                    <li>
                        <a href="http://www.matf.bg.ac.rs/p/maricm/pocetna/">doc. dr Miroslav Marić</a> Matematički fakultet, Beograd
                        <br>
                        <a href="mailto:maricm@matf.bg.ac.rs" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> maricm@matf.bg.ac.rs</a>
                    </li>
                    <li>
                        <a href="http://poincare.matf.bg.ac.rs/nastavno/acal/">prof. dr Aleksandar Lipkovski</a> Matematički fakultet, Beograd
                        <br>
                        <a href="mailto:acal@matf.bg.ac.rs" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> acal@matf.bg.ac.rs</a>
                    </li>
                    <li>
                        <a href="http://poincare.matf.bg.ac.rs/nastavno/mbozic.html">prof. dr Milan Božić</a> Matematički fakultet, Beograd
                        <br>
                        <a href="mailto:mbozic@matf.bg.ac.rs" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> mbozic@matf.bg.ac.rs</a>
                    </li>
                    <li>
                        <a href="http://alas.matf.bg.ac.rs/~vsrdjan/glavna.htm">doc. dr Srđan Vukmirović</a> Matematički fakultet, Beograd
                        <br>
                        <a href="mailto:vsrdjan@matf.bg.ac.rs" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> vsrdjan@matf.bg.ac.rs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <h1 class="display-4 font-xxl">Članovi GeoGebra Centra u Beogradu</h1>
        </div>
        <div class="col-lg-6 offset-lg-3">
            <div class="text-left font-md my-5" style="position: relative; margin: 0 auto">
                <ul class="sample-list">
                    <li>
                        <a href="http://www.alas.matf.bg.ac.rs/~mm97045/agi/">Milena Marić</a> Arhitektonska tehnička škola, Beograd
                        <br>
                        <a href="mailto:milena.maric.f@gmail.com" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> milena.maric.f@gmail.com</a>
                    </li>
                    <li>
                        <a href="http://alas.matf.bg.ac.rs/~ml06125/kontakt.html">Slaviša Radović</a> OŠ "Borislav Pekić", Beograd
                        <br>
                        <a href="mailto:radovic.slavisa@gmail.com" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> radovic.slavisa@gmail.com</a>
                    </li>
                    <li>
                        <a href="http://alas.matf.bg.ac.rs/~ml06095/meni.html">Marija Radojičić</a> OŠ "Desanka Maksimović", Beograd
                        <br>
                        <a href="mailto:marijaradojicic@gmail.com" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> marijaradojicic@gmail.com</a>
                    </li>
                    <li>
                        <a href="#">Aleksandra Arsić</a> SŠ Artimedia, Beograd
                        <br>
                        <a href="mailto:arsicaleksandra7@gmail.com" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> arsicaleksandra7@gmail.com</a>
                    </li>
                    <li>
                        <a href="#">Milena Isajlović</a> Ministarstvo finansija, Uprava Carine 
                        <br>
                        <a href="mailto:milenaisjlovic@yahoo.com" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> milenaisjlovic@yahoo.com</a>
                    </li>
                    <li>
                        <a href="#">Aleksandra Stevanović</a>
                        <br>
                        <a href="mailto:staleksandra@ymail.com" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> staleksandra@ymail.com</a>
                    </li>
                    <li>
                        <a href="#">Jovana Jezdimirović</a>
                        <br>
                        <a href="mailto:jezdimirovic.jovana@gmail.com" class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> jezdimirovic.jovana@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>