.h-100 {
  height: 100%;
}

* {
  font-family: "Segoe UI", "Arial", sans-serif;
}

a:link {
  color: #9999ff;
  text-decoration: none;
}

a:hover {
  color: #606060 !important;
  text-decoration: none;
}

a:visited {
  color: #9999ff;
  text-decoration: none;
}

a:active {
  color: #9999ff;
  text-decoration: none;
}

.light-link:link {
  color: #b0b0b0;
  text-decoration: none;
}

.light-link:hover {
  color: #f7f7f7 !important;
  text-decoration: none;
}

.light-link:visited {
  color: #b0b0b0;
  text-decoration: none;
}

.light-link:active {
  color: #b0b0b0;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.font-md {
  font-size: 16px;
}

.font-xl {
  font-size: 24px;
}

.font-xxl {
  font-size: 28px;
}

.line-md {
  line-height: 2em;
}

.sample-list {
  list-style-type: none;
  padding: 0;
}
.sample-list li {
  margin: 15px 0 15px 0;
}

ul li {
  margin: 15px 0 15px 0;
}

.main-color {
  color: #9999ff;
}

.display-4 {
  color: #606060;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #9999ff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before {
  left: 0;
  right: 0;
}

.navbar {
  height: 60px;
}

.nav-item {
  margin: 0 10px 0 10px;
}

.navbar-toggler {
  border: none;
}

header {
  width: 100%;
  height: 550px;
  background-color: #f7f7f7;
  position: relative;
  top: -30px;
}

#scene-wrapper {
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: inherit;
}

#scene {
  overflow: hidden;
  height: inherit;
}

.layer {
  width: 100%;
  height: 100%;
}

#layer10 {
  padding-top: 150px;
}

#footer-header {
  background-color: #505050;
  padding: 20px 0 20px 0;
  color: #f7f7f7;
  text-align: center;
  border-top: 3px solid #9999ff;
}

#footer-main {
  background-color: #505050;
  padding: 20px 15px 20px 15px;
  color: #f7f7f7;
}

#footer-bottom {
  background-color: #606060;
  color: #f7f7f7;
  min-height: 60px;
  position: relative;
  bottom: 0;
  text-align: center;
  line-height: 60px;
}

#footer-links {
  list-style-type: none;
  padding: 0;
}

#footer-links > li {
  margin: 5px 0 5px 0;
}

#footer-contact {
  color: #b0b0b0;
}

* {
  box-sizing: border-box;
}

.box-shadow-small {
  box-shadow: 0 0 20px #b0b0b0;
}

button:active,
button:focus {
  outline: none;
}

.btn-link {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#states {
  margin-top: 60px !important;
}

#manual:hover {
  cursor: pointer;
  color: #9999ff;
}

.materials-logo {
  height: 80px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
  margin: 0 auto;
}

.material-image {
  width: 200px;
  height: 120px;
  border: 2px solid #b0b0b0;
  margin: 15px;
}

.centered-image {
  display: block;
  position: relative;
  margin: 0 auto;
}

.centered {
  position: relative;
  margin: 0 auto;
}

.courses-wrapper {
  display: flex;
  flex-direction: row;
}

.courses-menu {
  background-color: rgba(247, 247, 247, 0.5);
  border-right: 1px solid rgba(176, 176, 176, 0.2);
  width: 350px;
  height: calc(100vh - 60px);
  padding-left: 12px;
}
.courses-menu .course-title {
  margin: 24px 0 24px 0;
  color: #505050;
  font-weight: 200;
}
.courses-menu .lesson-title {
  width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  background: none;
  height: 40px;
  cursor: pointer;
}
.courses-menu .lesson-title:hover {
  color: #9999ff;
}

.courses-content {
  width: calc(100vw - 350px);
  height: calc(100vh - 60px);
  overflow-y: auto;
}

#course-text {
  padding: 24px;
}

.courses-content h3 {
  margin-top: 3rem;
}
.courses-content h4 {
  margin-top: 3rem;
}
.courses-content h5 {
  margin-top: 3rem;
}
.courses-content h1 {
  margin-bottom: 2rem;
  font-weight: 400;
}
.courses-content h2 {
  margin-bottom: 2rem;
  font-weight: 400;
}
.courses-content h3 {
  margin-bottom: 2rem;
  font-weight: 400;
}
.courses-content h4 {
  margin-bottom: 2rem;
  font-weight: 400;
}
.courses-content h5 {
  margin-bottom: 2rem;
  font-weight: 400;
}

.display-5 {
  color: #606060;
}

.deffinition-paragraph {
  background-color: rgba(153, 153, 255, 0.1);
  border-left: 7px solid #9999ff;
  padding: 20px 25px 20px 25px;
  margin: 25px 0;
}
.deffinition-paragraph h4 {
  color: #000066;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.tips-paragraph {
  background-color: rgba(248, 214, 18, 0.1);
  border-left: 7px solid #f8d612;
  padding: 20px 25px 20px 25px;
  margin: 25px 0;
}
.tips-paragraph h4 {
  color: black;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.success-paragraph {
  background-color: rgba(60, 190, 99, 0.1);
  border-left: 7px solid #3cbe63;
  padding: 20px 25px 20px 25px;
  margin: 25px 0;
}
.success-paragraph h4 {
  color: black;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.error-paragraph {
  background-color: rgba(250, 17, 51, 0.1);
  border-left: 7px solid #fa1133;
  padding: 20px 25px 20px 25px;
  margin: 25px 0;
}
.error-paragraph h4 {
  color: black;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.light-paragraph {
  background-color: #f7f7f7;
  padding: 20px 25px 20px 25px;
  margin: 25px 0;
}

.dark-paragraph {
  background-color: #606060;
  color: white;
  padding: 20px 25px 20px 25px;
  margin: 25px 0;
}

.btn {
  border: none;
}

.btn-primary {
  background-color: #9999ff;
}
.btn-primary:hover {
  background-color: #7d7dd3;
}

.btn-secondary {
  background-color: #f7f7f7;
  color: #505050;
}

.btn-success {
  background-color: #3cbe63;
}

.btn-danger {
  background-color: #fa1133;
}

/*# sourceMappingURL=style.css.map */
